%h2 Install

%p
  …the gem from #{ link_to 'RubyGems.org', 'https://rubygems.org/gems/coderay' }:

%pre.console gem install coderay

%h2 Download

%p
  …the source via #{ link_to 'Git', :action => :source }:

%pre.console git clone git://github.com/rubychan/coderay.git

%h2 Stuff

%ul
  %li
    the #{ link_to 'banner:', '/images/coderay-banner.png' }
    = image_tag 'coderay-banner.png'
  %li
    the
    = link_to 'CodeRay Logo', '/images/logo.png'
